html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
/* ol, ul {
	list-style: none;
} */
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------My css style-------------- */

/* ======================= mobile style ======================= */
/* ......general set........ */
body{
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    width: 100%;
}
h1{
    font-weight: 700;
    font-size: 70px;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}
main h2 {
    font-size: 35px;
    font-weight: 700;
    padding-top: 4%;
    padding-bottom: 2%;
}
main h3{
    font-size: 25px;
    font-weight: 700;
    padding-top: 2%;
    padding-bottom:2%;
    padding-left: 6px;
}
main h4{
    font-size: 15px;
    font-weight: 760;
}

p{
    font-size: 13px;
    line-height: 19px;
    padding-left: 6px;
}



/*********************  header  ********************** */
header {
    background-color: #222222;
    width: 100%;
}
.logo {
    background-color:#c78b06 ;   
    color: #222222;
}

ul li {
    color: #c78b07;
    padding: 20px;
    text-align: center;
    text-decoration: none;
}
nav a{
    text-decoration: none;
    color: #c78b06;
}

nav a.home{
    color: #222222;
    background-color: #c78b06;
}
.home{
    background-color: #c78b06;
}

.search-bar {
    width:92%;
    height: 1.5rem;
    margin-left: 2%;
    margin-bottom: 1px;
}

.fa-solid{
    color: #c78b07;
    border: #c78b07 1px solid;
    position: relative;
    left: 90%;
    bottom: 1.4rem;
    padding: 0.6%;

}


.banner {
    width: 100%;
    height: 40rem;
    /* height: 649px; */
    background: url(/final-project/images/main-banner.jpg) no-repeat center center / 100% 100%;
    text-align: left;
}

.black-container {
    display: flexbox;
    background-color: rgb(0,0,0,0.6);
    color: white;
    height: 33rem;
    position: relative;
    top: 4rem;
}
.btn-1{
    width:281px ;
    height: 107px;
    background-color: #c78b06;
    font-size: 25px;
    position: absolute;
    bottom: 19px;
    left: 8px;

}
/* ******************************--main--************************ */
/* ----------about------------ */
.about-section{
    background-color: #ffe6ac;
    padding: 15px;
}

section.about-section img{
    width: 100%;
    height: 88%;

}

section.about-section h2{
    padding-top: 4%;
}

section.about-section p{
    padding-bottom: 2%;
}

/* --------------services-------------- */
.services-section{
    display: grid;
    grid-template-rows: repeat(5,5fr);
    row-gap: 0.4rem;
}
.services-section .box{
    background-color: #ffe6ac;
    margin: 1.5%;
}
.services-section .box img{
    width: 100%;
}
/* button for services & vision */
.btn-2{
   background-color: #11253d;
   color: white;
   font-size: 1rem;
   width: fit-content;
   height: 4rem;
   margin: 10px;
   border: #c78b06 1px solid;
}
/* ------------------vision------------------ */
.vision-section{
    position:relative;
    margin: auto;
}
.vision-section img{
    width: 100%;
    height: 260px;
    margin-top: 3%;
}
.container-vision{
    position: absolute;
    width: 99%;
    margin: 3%;
    top:0px;
    color:white;
}

.container-vision .btn-2{
    margin-top:5% ;
    width: 26%;
}

.container-vision p{
    padding-top: 0.5rem;
}

/* ------------------team------------------ */
.team-section{
    display:flex;
    flex-direction: column;
    margin-left: 4px;
    margin-right: 4px;
}
.image-box1 img{
    width: 98%;
}
.text-box1{
    background-color: #ffe6ac;
    width: 98%;
    margin-bottom: 9px;
}
.image-box2 img{
    width: 98%;
}
.text-box2{
    background-color: #ffe6ac;
    width: 98%;
    margin-bottom: 9px;
}

hr{
    border-bottom: #c78b06 1px solid;
    margin: 6px;
}

.team-section p{
    margin-bottom: 18px;
}
.team-section h3{
    margin-left: 8px;
}
.team-section h4{
    margin-left: 8px;
}
.team-section p{
    margin-left: 8px;
    margin-right: 11px;
}

/* --------------------contact------------------------ */









/* ========================== laptop style ======================= */
@media  screen and (min-width: 760px) {
    body{
        font-family: "Open Sans", sans-serif;
        font-style: normal;
        width: 100%;
    }
    h1{
        font-weight: 700;
        font-size: 60px;
        color: white;
    }
    main h2 {
        font-size: 30px;
        font-weight: 800;
    }
    header {
        background-color: #222222;
    }
    .logo {
        background-color: #222222;
        color: #222222;
        margin: 50px;
        margin-left: 136px;
    }
    nav{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    nav a{
        text-decoration: none;
        color: #c78b06;
    }

    nav a.home{
        color: #222222;
        background-color: #c78b06;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
        margin: 20px;
    }
    
    ul li {
        display: inline;
        color: #c78b06;
        padding: 20px;
        text-align: center;
    }
    .search-bar{
        width: 222px;
        height: 30px;
        margin-top: 15px;
    }
    .top{
        display: flex;
        flex-direction: row;
        margin: 30px;
        
    }
    
    .fa-solid{
        color: #c78b06;
        border: #c78b06 1px solid;
        /* for the size of the border */
        width: 23px;
        height: 23px;
        margin: 5px;
        bottom: 21px;
        position: relative;
        left: 243px;
        /* for the size of the icon itself */
        font-size: 20px;
        padding-left: 8px;  
        padding-top: 7px;
    }
    .banner {
        width: 100%;
        height: 40rem;
        background: url(/final-project/images/main-banner.jpg) no-repeat center center / 100% 100%;
        text-align: left;
    }
    
    .black-container {
        display: flexbox;
        align-items: center;
        background-color: rgb(0,0,0,0.6);
        color: white;
        height: 80%;
        width: 90%;
        position: relative;
        top: 4rem;
        left: 2rem;
    }
    .btn-1{
        width:16rem ;
        height: 6rem;
        background-color: #c78b06;
        font-size: 25px;
        position: absolute;
        bottom: 1rem;
        left: 2rem;
    
    }









    /* ----------team------------ */
    .team-section{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-auto-rows: 100px;
        background-color: #ffe6ac;
    }
    .image-box1{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .text-box1{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;

    }
    .text-box2{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        
    }
    
    .image-box2{
        grid-column-start: 2;
        grid-row-start: 2;
    }
    
    hr{
        border-bottom: #c78b06 1px solid;
    }
    
    
}