html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
/* ol, ul {
	list-style: none;
} */
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------My css style-------------- */




/* ======================= mobile style ======================= */





/* ......general set........ */
body{
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    width: 100%;
}
h1{
    font-weight: 700;
    font-size: 400%;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}
main h2 {
    font-size: 35px;
    font-weight: 700;
    padding-top: 4%;
    padding-bottom: 2%;
}
main h3{
    font-size: 25px;
    font-weight: 700;
    padding-top: 2%;
    padding-bottom:2%;
    padding-left: 6px;
}
main h4{
    font-size: 15px;
    font-weight: 760;
}

p{
    font-size: 13px;
    line-height: 19px;
    padding-left: 6px;
}



/*********************  header  ********************** */
header {
    background-color: #222222;
    width: 100%;
}
.logo {
    background-color:#c78b06 ;   
    color: #222222;
}

ul li {
    color: #c78b07;
    list-style-type: none;
    padding: 20px;
    text-decoration: none;
    text-align: center;
}
nav a{
    text-decoration: none;
    color: #c78b06;
}

nav a.home{
    color: #222222;
    background-color: #c78b06;
}
.home{
    background-color: #c78b06;
}

.search-bar {
    width:90%;
    height: 1.5rem;
    margin-left: 2%;
    margin-bottom: 5px;
}

.fa-solid{
    color: #c78b07;
    border: #c78b07 1px solid;
    padding: 0.9%;
    position: relative;
    bottom: -1px;

}


.banner {
    width: 100%;
    height: 40rem;
    /* height: 649px; */
    background: url(/final-project/images/main-banner.jpg) no-repeat center center / 100% 100%;
    text-align: left;
}

.black-container {
    background-color: rgb(0,0,0,0.6);
    color: white;
    height: 30rem;
    position: relative;
    top: 4rem;
    padding: 9px;
}
.black-container p{
    padding: 8px;
}
.btn-1{
    width:281px ;
    height: 107px;
    background-color: #c78b06;
    font-size: 25px;
    position: absolute;
    bottom: 19px;
    left: 8px;
    border: none;

}
/* ******************************--main--************************ */

/* ----------about------------ */
.about-section{
    background-color: #ffe6ac;
    padding: 15px;
}

section.about-section img{
    width: 100%;
    height: 88%;

}

section.about-section h2{
    padding-top: 4%;
}

section.about-section p{
    padding-bottom: 2%;
}

/* --------------services-------------- */
.services-section{
    display: grid;
    grid-template-rows: repeat(5,5fr);
    row-gap: 0.4rem;
}
.services-section .box{
    background-color: #ffe6ac;
    margin: 1.5%;
}
.services-section .box img{
    width: 100%;
}
/* button for services & vision */
.btn-2{
   background-color: #11253d;
   color: white;
   font-size: 1rem;
   width: fit-content;
   height: 4rem;
   margin: 10px;
   border: #c78b06 1px solid;
}
/* ------------------vision------------------ */
.vision-section{
    position:relative;
    margin: auto;
}
.vision-section img{
    width: 100%;
    height: 260px;
    margin-top: 3%;
}
.container-vision{
    position: absolute;
    width: 99%;
    margin: 3%;
    top:0px;
    color:white;
}

.container-vision .btn-2{
    margin-top: 30px;
}

.container-vision p{
    padding-top: 0.5rem;
}

/* ------------------team------------------ */
.team-section{
    display:flex;
    flex-direction: column;
    margin-left: 4px;
    margin-right: 4px;
}
.image-box1 img{
    width: 98%;
}
.text-box1{
    background-color: #ffe6ac;
    width: 98%;
    margin-bottom: 9px;
}
.image-box2 img{
    width: 98%;
}
.text-box2{
    background-color: #ffe6ac;
    width: 98%;
    margin-bottom: 9px;
}

hr{
    border-bottom: #c78b06 1px solid;
    margin: 6px;
}

.team-section p{
    margin-bottom: 18px;
}
.team-section h3{
    margin-left: 8px;
}
.team-section h4{
    margin-left: 8px;
}
.team-section p{
    margin-left: 8px;
    margin-right: 11px;
}

/* --------------------contact------------------------ */
/* ......message......... */
.contact-section{
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}
.contact-section label{
    font-family:  "Open Sans", sans-serif;
    font-size: 12px;
}
.contact-section input{
    width: 95%;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.contact-section .message{
    height: 120px;
}
.btn-3{
    margin-top: 38px;
    background-color: #222222;
    color: #c78b06;
    border: none;
    font-size: 16px;
    padding: 4px;
}

/* ........table........ */
table,th , td{
    table-layout: fixed;
    border: 1px solid #222222;
}
table{
    width: 97%;
}
th{
    height: 37px;
    background-color: #ffe6ac;
    vertical-align: middle;
}

td{
    height: 35px;
    vertical-align: middle;
    padding-left: 10px;
}


/* ........location........ */
.location-box{
    margin-top: 16px;
}
iframe{
    margin: 8px;
    width: 97%;
}



/* ----------------------footer------------------------ */
footer{
    background-color:#222222;
    color: #c78b06;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 9px;
    line-height: 19px;
}
footer a{
    text-decoration: underline;
    color: #c78b06;
}











/* ========================== laptop style ======================= */
@media  screen and (min-width: 760px) {
    /* ........general set......... */
    body{
        font-family: "Open Sans", sans-serif;
        font-style: normal;
        width: 100%;
    }
    h1{
        font-weight: 700;
        font-size: 60px;
        color: white;
    }
    main h2 {
        font-size: 50px;
        font-weight: 600;
    };



    /* *********************----header-----*********************** */
    
    header {
        background-color: #222222;
    }

    header .top{
        padding: 16px 0;
        display:flex ;
        align-items: center;
        margin-left: 30px;
        margin-right: 30px;
    }
    
    header .logo {
        padding: 0;
        display: inline-block;
        width: 80px;
        height: 80px;
        margin: 20px;
        margin-left: 30px;
    }


    header nav{
        flex: 1;
    }

    nav a.home{
        color: #222222;
        background-color: #c78b06;
        padding-left: 3%;
        padding-right: 3%;
    }
    
    nav ul {
        display: flex;
        justify-content: space-around;
        align-items: center;  
        margin-left: 5rem;     
    }

    .search-form{
        margin-top: 25px;
        display: inline-block;
        position: relative;
        right: 18px;

    }
    .fa-solid{
        position: relative;
        left: 170px;
        font-size: 22px;
        top: -33px;
    }
   
    
   
    .banner {
        width: 100%;
        height: 40rem;
        background: url(/final-project/images/main-banner.jpg) no-repeat center center / 100% 100%;
        text-align: left;
    }
    
    .black-container {
        align-items: center;
        background-color: rgb(0,0,0,0.6);
        color: white;
        height: 80%;
        width: 85%;
        position: relative;
        top: 4rem;
        left: 4.5rem;
      

    }
    .btn-1{
        width:16rem ;
        height: 6rem;
        background-color: #c78b06;
        font-size: 25px;
        position: absolute;
        bottom: 1rem;
        left: 2rem;
    
    }
    /* ***********************************----main----********************* */
   /* ---------------about-------------- */
   .about-section{
    background-color: #ffe6ac;
    display: flex;
    flex-wrap:nowrap;
    flex: auto;

    }

    .about-section .text-box{
        margin-left: 90px;
        margin-bottom: 24px;
    }
    


    section.about-section img{
    width: 100%;
    height: 100%;
    padding-left: 50px;

    }



   

    /* --------services----------- */
    .services-section div{
        max-width: 1200px;
    }
    .service-title{
        margin-left: 70px;
    }
    .services-section{
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: repeat(2,1fr);
        margin-left: 70px;
        margin-right: 70px;

    }
    .services-section .one {
        grid-area: 1 / 1 / 2 / 4 ;
    }
    .services-section .two {
        grid-area: 1 / 4 / 2 / 7 ;
    }
    .services-section .three {
        grid-area: 2 / 1 / 2 / 3 ;
    }

    .services-section .four {
        grid-area: 2 / 3 / 2 / 5 ;
    }
    .services-section .five {
        grid-area: 2 / 5 / 2 / 7 ;
    }

    /* ----------vision----------- */
    .vision-section img{
        object-fit: cover;

    }
    .container-vision h2{
        margin-left: 70px;
    }
    .container-vision p{
        margin-left: 70px;
        margin-right: 70px;
    }
    .vision-section .btn-2{
        position: absolute;
        top: 140px;
        margin-bottom:40px ;
        margin-left: 70px;

    }


    /* ----------team------------ */  
    .team-section{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-auto-rows: 100px;
        background-color: #ffe6ac;
        margin-left: 70px;
        margin-right: 70px;
        
    } 
    .team-title{
        margin-left: 70px;
    }
    .image-box1{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .text-box1{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;

    }
    .text-box2{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        
    }
    
    .image-box2{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
    hr{
        border-bottom: #c78b06 1px solid;
    }
   



    /* -----------------contact------------------ */

    .contact-section{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-left: 60px;
        margin-right: 60px;

    }
    .contact-title{
        margin-left: 70px;
    }
    .contact-section h3{
        font-size: 30px;
        margin-top: 30px;
    }
    form div{
        padding: 3px;

    }

    .location-box{
        grid-area: 1 / 2 / 2 / 4;
    }
    .timetable-box{
        grid-area: 2 / 1 / 3 / 3;
        margin-top: 60px;
        font-size: 14px;
    }
    .btn-3{
        margin-left:6px ;
        padding: 8px;
        font-size: 17px;
    }
    iframe{
        height: 100%;
    
    }



    /* --------------------footer----------------- */
    footer{
        padding: 25px;
        padding-left: 50px;
        margin-top: 20px;
    }
    footer p{
        line-height: 30px;
    }
    
}